body {
    background-image: url('../Resources/Images/homeScreen.jpg');
    background-position: start;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    padding-top: 10rem;
  }




