.navbar a{
    color: black;
    text-decoration:none;
    width: 100%;
}



.navbar a.underline{
    text-decoration:none;
}

.navbar a.active{
    color:black;
    font-weight: bold;
}

.navbar button:hover{
    background-color: cornflowerblue !important;
    color: white !important;
}
